
extends layout 

block content
  .GridMiddle
    h1 About As
    p.
      I opened "My Pastry" in view of the Corona period as a source of additional income. 
      I have always loved to bake and following the plague, in order to reach more people, 
      I decided to open a website, which would be accessible and people could order from the diplayed menu. 
      On the menu you can find challah, chushun cakes, yeast cakes, mousse cakes and cases.
    h1 Contact As
    p Phone Number: 050-2050284   
    p Email: myPastry@gmail.com  
    p address Rager 53, Be'er-Shevaa
