<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/details.css">    
    <title>My Pastry</title>
</head>
<body>


<div class="header"> 
    <img src="../media/logo.png" alt="logo" class="site-logo" >
</div>
<div class="container">
    <div class="purchase-form">
        <h1 class="headline">Order details</h1>        
    
        <p >First Name: Noa</p>

        <p>Last Name: Barkai</p>

        <p>Email: nunubarkai@gmail.com</p>
      
        <p>Take Away</p>
        
        <p>*Payment is made in cash</p>
        
        <p>Comments: Order for Fraiday</p>

        <p>For any change please contact as</p>
           
        <p>10 Units of Challah for Shabbat</p>
        <p>Total price: 250₪</p>
        
    </div>
    
      
</div>

</body>
</html>